/*
***********************
*Configurações iniciais
***********************
*/
:root {
    --family-font-primary: 'Strait', sans-serif;
    --family-font-secundary: 'Puritan', sans-serif;
    --color-primary: #997e5e;
}

* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    font-family: var(--family-font-primary);
}

.container {
    max-width: 73.5rem;
    margin: 0 auto;
}

/*
****************
*Section HOME
*****************
*/
.home {
    background-image: url("/images/imagem-2.jpg");
    height: 100vh;
    background-size: cover;
    position: relative;
}

.header {
    padding: 1.1rem;
}


.nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav ul li {
    display: flex;
    justify-content: center;
    min-width: 200px;
}

.nav ul li a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    padding: 1.2rem;
    margin: 1rem;
}

.nav ul li a:hover {
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
}

.banner {
    color: white;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.banner span {
    display: block;
}

.span-1 {
    color: white;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
}

.banner h1 {
    font-size: 8rem;
}

.span-2 {
    font-size: 1rem;
    color: var(--color-primary);
    margin-bottom: 2rem;
}

/*
****************
*Section ABOUT
*****************
*/

.about {
    background-color: var(--color-primary);
}

.about .container {
    display: flex;
}

.about .container .timing {
    position: relative;
    top: -50px;
    width: 33%;
    background-image: url(/images/brush-big.jpg);
    padding: 1.2rem;
}

.about .container .timing .overlay {
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 2rem;
}

.about .container .timing .overlay img {
    width: 3rem;
    margin-bottom: 1rem;
}

.about .container .timing .overlay h3 {
    color: var(--color-primary);
    text-transform: uppercase;
    border-bottom: 2px solid var(--color-primary);
    width: fit-content;
    /* Para que o tamanho da bordar fique do tamanho do contéudo, usamos width:fit-content*/
    margin: 0 auto;
    font-size: 2rem;
}

.about .container .timing .overlay .text {
    margin: 2rem 0;
}

.about .container .timing .overlay .text::after {
    content: "⁘";
    display: block;
    color: grey;
    font-size: 2rem;
    margin-top: 1rem;
}

.about .container .timing .overlay .text:last-of-type:after {
    content: "-";
    display: block;
    color: grey;
    font-size: 2rem;
    margin-top: 1rem;
}

.about .container .timing .overlay .text h4 {
    color: gray;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.about .container .timing .overlay .text span {
    color: white;
    font-size: 1rem;
}

.location {
    font-size: 1.5rem;
    color: gray;
}

.phone {
    font-size: 1.5rem;
    color: gray;
}

.adress {
    display: block;
    color: white;
    margin: 1rem;
    font-size: 1rem;
}

.about .container .history {
    color: white;
    width: 66%;
    margin-left: 10%;
    margin-top: 5%;
    font-size: 1.3rem;
}

.history h2 {
    font-size: 2.8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.text-52anos {
    display: flex;
    justify-content: space-between;
}

.text-52anos p {
    margin-bottom: 1rem;
    margin-right: 1rem;
}